{% comment %}
    render a product card with all its images variants
    receives 
        product
        style options
{% endcomment %}

<!-- TODO -->

<div class='product-card-with-image-slider'>
    <div class='product-card__body'>
        <div class="image-slider">
            <div class="image">
                <img src='image.jpg' alt=''>
            </div>
            <div class="image">
                <img src='image.jpg' alt=''>
            </div>
            <div class="image">
                <img src='image.jpg' alt=''>
            </div>
        </div>
        <div class="text-content">
            <h1>Prouct title</h1>
            <p>$ 100</p>
        </div>
        <a href="#" class='button primary'>View Product</a>
    </div>
</div>