<div class="footer-menu">
    <div class="menu-title">
        {{ title }}
    </div>
    <ul class="footer-menu">
        {% for menuItem in menu.links %}
            <li class='menu-item'>
                <a href="{{ menuItem.url }}">{{menuItem.title}}</a>
            </li>            
        {% endfor %}
    </ul>
</div>