{% liquid
    assign this = section.settings
%}

<div class="collection-slider__holder" theme="{{this.color}}">
  <h1 class='slider__title' theme="{{this.color}}">{{ this.title }}</h1>
  <div class="smallmans__collection__slider"  theme="{{this.color}}">  
       {% for currentProduct in this.collection.products limit:8 %}
        <div class="slider__card">
           {% render 'smallmans-product-card', product:currentProduct, color:this.color, component:"slider", readMore:"true", addToCart:"false" %}
        </div>
        {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "collection-slider",
  "tag": "div",
  "class": "smallmans",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Check these products",
      "label": "Title"
    },
    {
      "type": "radio",
      "id": "color",
      "label": "Color Theme",
      "default": "white",
      "options": [
        { "value": "blue", "label":"Blues" },
        { "value": "orange", "label":"Oranges" },
        { "value": "gray", "label":"Grays" },
        { "value": "white", "label":"White" }
      ]
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Pick a collection"
    }   
  ],
  "presets": [
    {
      "name": "Smallmans collection slider"
    }
  ]
}
{% endschema %}

{% javascript %}
  var elem = document.querySelector('.smallmans__collection__slider');
  var flkty = new Flickity( elem, {
    cellAlign: 'center',
    wrapAround: true,
    autoPlay: 3000,
    setGallerySize: true,
    contain: true,
    pageDots: false
  });
{% endjavascript %}
