<div class='smallmans smallmans__header-hero'>
  <div class='flickity-hero-carousel'>
  {% for product in section.settings.collection.products %}
      <div class='slide'>
        <div class='slide__product-image'>
          {{ product | img_url: "800x800" | img_tag }}
        </div>
        <div class='slide__text-content'>
          <h1>{{ product.title }}</h1>
          <p>{{ product.description }}</p>
          <button class='primary small'>Read More</button>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name":"flickity-header-carousel",
  "tag": "section",
  "class": "smallmans__theme",
  "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Select the collection to show in header carousel"
      }
  ]
}
{% endschema %}

{% javascript %}
  var elem = document.querySelector('.flickity-hero-carousel');
  var flkty = new Flickity( elem, {
    cellAlign: 'left',
    contain: true
  });
{% endjavascript %}