<div class='smallmans__header-hero'>
  <div class='flickity-hero-carousel'>
    <div class='smallmans__slide-content'>
      <div class='slide__background'>
        <div class='slide__product-image'>
          <img src="{{ 'product-image(1).png' | asset_img_url: 'medium' }}" alt='product best visual representation' />
        </div>
        <div class='slide__text-content'>
          <h1>The product title</h1>
          <h2>The product subtitle and short description</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eligendi quas quisquam recusandae id vero tempore eveniet sint saepe incidunt?</p>
          <button class='smallmans__button-primary'>Read More</button>
        </div>
      </div>
      <div class='slide__background'>
        <div class='slide__product-image'>
         <img src="{{ 'product-image(1).png' | asset_img_url: 'medium' }}" alt='product best visual representation' />
        </div>
        <div class='slide__text-content'>
          <h1>The product title</h1>
          <h2>The product subtitle and short description</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eligendi quas quisquam recusandae id vero tempore eveniet sint saepe incidunt?</p>
          <button class='smallmans__button-primary'>Read More</button>
        </div>
      </div>
      <div class='slide__background'>
        <div class='slide__product-image'>
          <img src="{{ 'product-image(1).png' | asset_img_url: 'medium' }}" alt='product best visual representation' />
        </div>
        <div class='slide__text-content'>
          <h1>The product title</h1>
          <h2>The product subtitle and short description</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eligendi quas quisquam recusandae id vero tempore eveniet sint saepe incidunt?</p>
          <button class='smallmans__button-primary'>Read More</button>
        </div>
      </div>
      <div class='slide__background'>
        <div class='slide__product-image'>
          <img src="{{ 'product-image(1).png' | asset_img_url: 'medium' }}" alt='product best visual representation' />
        </div>
        <div class='slide__text-content'>
          <h1>The product title</h1>
          <h2>The product subtitle and short description</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eligendi quas quisquam recusandae id vero tempore eveniet sint saepe incidunt?</p>
          <button class='smallmans__button-primary'>Read More</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name":"flickity-header-carousel",
  "tag": "section",
  "class": "smalmans__flickity__header-hero",
  "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.featured-collection.settings.collection.label"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
          },
          {
            "value": "square",
            "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.featured-collection.settings.image_ratio.label"
      }
  ]
}
{% endschema %}