<div class='smallmans smallmans__header-hero'>
  <div class='flickity-hero-carousel'>
  {% for product in section.settings.collection.products %}
      <div class='slide'>
        <div class='slide__product-image'>
          {{ product | img_url: "800x800" | img_tag }}
        </div>
        <div class='slide__text-content'>
          <h1>{{ product.title }}</h1>
          {{ product.description }}
          <a href='{{ product.url }}'>
          <button class='secondary'>Read More</button>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!-- 
  
note about schemas 
property "name" is the section title/name/indication at online editor
property "id" - inside settings, is the object 


-->

{% schema %}
{
  "name":"Slideshow",
  "class": "smallmans__theme",
  "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Select the collection to show in header carousel"
      } 
  ],
  "presets": [
    {
      "name": "Slide Carousel"
    }
  ]
}
{% endschema %}

{% javascript %}
  var elem = document.querySelector('.flickity-hero-carousel');
  var flkty = new Flickity( elem, {
    cellAlign: 'left',
    wrapAround: true,
    autoPlay: 3000,
    contain: true
  });
{% endjavascript %}