<div class='smallmans single-product'>
    <div class="single-product__container">
        <div class="image"></div>
        <div class="details">
            <h1></h1>
            <div class="description"></div>
            <div class="price"></div>
        </div>
        <a href="" class="call-to-action"></a>
        <div class="variation"></div>
    </div>
</div>