
:root { 
    
    /* Color styles */
    --theme-blue-light: #1A4AD1;
    --theme-blue: #20409A;
    --theme-blue-dark: #163372;
    --theme-red: #EE2B24;
    --theme-orange: #EE4824;
    --theme-white: #FFFFFF;
    --theme-gray-bright: #E4E7ED;
    --theme-gray-warm: #DED9D5;
    --theme-gray-cold: #EFF6F9;
    --theme-gray-medium: #727A8B;
    --theme-gray-dark: #404349;
    --theme-black: #222;
    --theme-yellow: #FECA2F;
    --theme-white: #f3f3f3;

    --theme-color--primary: var(--theme-red);
    --theme-color--secondary: var(--theme-blue);
    --theme-color--accent: var(--theme-orange);
    --theme-color--text: var(--theme-gray-dark);
    --theme-color--text-inverse: var(--theme-gray-warm);
    --theme-color--background: var(--theme-gray-warm);
    
    --theme-padding: 16px;
    --theme-section-margin: 64px 0px;
    --smallmans-duration: 300ms;
}

.smallmans {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;        
    }

    h4 {
        font-size: 0.8rem;
        text-transform: uppercase;
    }

    small {
        font-size: 0.8rem
    }

    p { 
        font-size: 1em;
        font-weight: normal;
    }

    strong {
        font-size: 1rem;
        font-weight: bold;
    }
        
    a { 
        text-decoration: none;
        text-transform: uppercase;
        border: 0px solid transparent !important;
        outline: 0px solid transparent !important;
        display: inline-block;
    }

    button,
    .button {
            border-radius: 8px;
            outline: 0px solid transparent;
            border: 0px solid transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1em;
            font-weight: bold;
            padding: 12px 24px;
            transition: all var(--smallmans-duration) linear;
            cursor: pointer;
            box-shadow: 0 0 0 0 transparent;
            width: fit-content;
            overflow: hidden;
            max-width: 280px;
            display: flex;
            align-items: center;
            justify-content: center;
    }

    button.primary,
    .button.primary {
        background-color: var(--theme-color--primary);
        color: var(--theme-color--text-inverse);
    }
    button.secondary,
    .button.secondary {
        background-color: var(--theme-color--secondary);
        color: var(--theme-color--text-inverse);
    }

    button.outline,
    .button.outline { 
        background-color: transparent;
        border: 2px solid var(--theme-color--primary);
        color: var(--theme-color--primary) !important;
    }
    button.outline.invert,
    .button.outline.invert {
        background-color: transparent;
        border: 2px  solid var(--theme-color--text-inverse) !important;
        color: var(--theme-color--text-inverse) !important;
    }
    button.outline.secondary,
    .button.outline.secondary {
        background-color: transparent;
        border: 2px  solid var(--theme-color--secondary);
        color: var(--theme-color--secondary);
    }
}
button.small,
.button.small { 
    font-size: 0.7em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 8px 16px;
}
button.large,
.button.large {
    font-size: 1.2rem;
    padding: 20px 32px;

button:hover,
a:hover {
        box-shadow: 0px 0px 5px 0px #0008 !important;
        transition: all var(--smallmans-duration) linear;
    }
}
