
.smallmans__header-hero {        

    .flickity-slider {
        display: flex;
        align-items: center;
      }
      
    .flickity-prev-next-button.previous {
        left: 0px;
      }
      .flickity-prev-next-button.next {
        right: 0px;
      }

    .flickity-hero-carousel {
        background-image: linear-gradient(135deg, white 60%, #4446);
        width: 100%;
        @include responsive(max-width, (1921px: 75vh));
        .slide {
            width: 100%;
            display: flex;
            overflow: hidden;
            
            &__product-image {
                width: 50%;
                min-width: 280px;
                min-height: 280px;
                padding: 16px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                @media screen and (min-width: 1921px) {
                    max-height: 75%;
                    height: 75%;
                    width: auto;
                }
                
                img {
                    width: 80%;
                }
            }

            &__text-content {
                padding: 32px;                    
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 { 
                    font: var(--font-h1);
                    text-align: center;
                    text-transform: uppercase;
                    color: var(--theme-color--secondary);
                    margin-bottom: 0;
                }

                h2, h2 span { 
                    text-align: center;
                    font-weight: normal;
                    color: var(--theme-blue);
                }
                
                span {
                    text-align: center;
                    font-weight: normal;
                    color: var(--theme-gray-dark);
                    font-size: 1em;
                }

                button {
                    margin-top: 32px;
                    font: var(--font-button);
                }
            }
        }    
    }
}