@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

:root { 
    
    /* Color styles */
    --theme-blue-light: #1A4AD1;
    --theme-blue: #20409A;
    --theme-blue-dark: #163372;
    --theme-red: #EE2B24;
    --theme-orange: #EE4824;
    --theme-white: #FFFFFF;
    --theme-gray-bright: #E4E7ED;
    --theme-gray-warm: #DED9D5;
    --theme-gray-cold: #EFF6F9;
    --theme-gray-medium: #727A8B;
    --theme-gray-dark: #404349;
    --theme-black: #222;
    --theme-yellow: #FECA2F;
    --theme-white: #f3f3f3;

    --theme-color--primary: var(--theme-red);
    --theme-color--secondary: var(--theme-blue);
    --theme-color--accent: var(--theme-orange);
    --theme-color--text: var(--theme-gray-dark);
    --theme-color--text-inverse: var(--theme-gray-warm);
    --theme-color--background: var(--theme-gray-warm);
    
    --theme-padding: 16px;
    --theme-section-margin: 64px 0px;
    --smallmans-duration: 300ms;

    --font--family: 'Nunito', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-min: 16; /* font min size */
    --font-max: 32; /* font max size */
    --font-min-clamp: 320; /* font stops shrinking */
    --font-max-clamp: 1600; /* font stops growing */
    --base-line-height: 1.1;
    --font-p: normal normal normal var(--font--size)/1 var(--font--family); 
    --font-menu-item: normal normal 900 var(--font--size)/1 var(--font--family); 
    --font-small: normal normal normal calc(var(--font--size) * 0.6)/1 var(--font--family); 
    --font-h1: normal normal bold calc(var(--font--size) * 2)/1 var(--font--family); 
    --font-h2: normal normal bold calc(var(--font--size) * 1.8)/1 var(--font--family) ;
    --font-h3: normal normal normal calc(var(--font--size) * 1.2)/1 var(--font--family); 
    --font-h4: normal normal bold calc(var(--font--size) * 0.8)/1 var(--font--family); 
    --font-button: normal normal bold calc(var(--font--size) * 0.8)/1 var(--font--family); 
    --font-button-small: normal normal bold calc(var(--font--size) * 0.5)/1 var(--font--family); 
    --font-button-large: normal normal bold calc(var(--font--size) * 1.2)/1 var(--font--family); 
    --font-menu-main:   normal normal bold calc(var(--font--size) * 1.2)/1 var(--font--family); 
    --font-card-h1: normal normal bold calc(var(--font--size) * 0.8)/1 var(--font--family); 
    --font-card-h2: normal normal normal calc(var(--font--size) * 0.8)/1 var(--font--family); 
    --font-card-price: normal normal bold calc(var(--font--size) * 0.8)/1 var(--font--family); 
    --font-card-text: normal normal normal calc(var(--font--size) * 0.8)/1 var(--font--family); 

    
    --font--size: calc( var(--font-min) *1px);
    @media (min-width: 320px) { 
        --font--size: calc( calc(var(--font-min) * 1px) + (var(--font-max) - var(--font-min)) * ( (100vw - calc(var(--font-min-clamp) * 1px)) / (var(--font-max-clamp) - var(--font-min-clamp)) ) );  }    @media (min-width: 1600px) { font-size: 32px; 
        }
    @media (min-width: 1440px) {
        --font--size: calc( var(--font-max) *1px );
    }
}

* {
    box-sizing: border-box;
}

.smallmans {

    font-size: var(--font--size);
    font-family: var(--font--family);
    line-height: var(--base-line-height);    

    h1 {
        font: var(--font-h1);
    }

    h2 {
        font: var(--font-h2);
    }

    h3 {
        font: var(--font-h3);
        text-transform: uppercase;
    }

    h4 {
        font: var(--font-h4);
        text-transform: uppercase;
    }

    small {
        font: var(--font-small);
    }

    p { 
        font: var(--font-p);
    }

    strong {
        font: var(--font-p);
        font-weight: bolder;
    }
        
    a { 
        font: var(--font-p);
        text-decoration: none;
        text-transform: uppercase;
    }

    button,
    .button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 0 solid transparent;
        outline: 0 solid transparent;
        box-shadow: 0 0 0 0 transparent;
        font: var(--font-button);
        text-align: center;
        transition: all var(--smallmans-duration) linear;
        cursor: pointer;
        height: fit-content;
        padding: var(--font--size);
    }

    button.primary,
    .button.primary {
        background-color: var(--theme-color--primary);
        color: var(--theme-color--text-inverse);
    }
    button.secondary,
    .button.secondary {
        background-color: var(--theme-color--secondary);
        color: var(--theme-color--text-inverse);
    }

    button.outline,
    .button.outline { 
        background-color: transparent;
        border: 2px solid var(--theme-color--primary);
        color: var(--theme-color--primary) !important;
    }
    button.outline.invert,
    .button.outline.invert {
        background-color: transparent;
        border: 2px  solid var(--theme-color--text-inverse) !important;
        color: var(--theme-color--text-inverse) !important;
    }
    button.outline.secondary,
    .button.outline.secondary {
        background-color: transparent;
        border: 2px  solid var(--theme-color--secondary);
        color: var(--theme-color--secondary);
    }
}
button.small,
.button.small { 
    font: var(--font-button-small);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
button.large,
.button.large {
    font-size: 1.2rem;
    padding: 20px 32px;

button:hover,
a:hover {
        box-shadow: 0px 0px 5px 0px #0008 !important;
        transition: all var(--smallmans-duration) linear;
    }
}

.smallmans__content {
    * { box-sizing: border-box };
    box-sizing: border-box;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    @include responsive(width, ( 1200px: 90%, 1440px: 85%, 1920px: 1800px ));
}