.smallmans.sm-single-product {
        
        border-top: 1px solid var(--theme-gray-bright);
        border-bottom: 1px solid var(--theme-gray-bright);

        .hold {
            width: var(--max-container-width);
            max-width: var(--max-container-width);
            display: flex;
            width: 100%;
            padding: 6em 0;
            padding: 12vh 0;
            
            .image {
                flex-shrink: 0;
                width: 50%;
                display: flex;
                justify-content: center;
            }
            .data {
                flex-grow: 0;
                width: 50%;

                .details {
                    .price {
                        margin: 8px 0 16px 0;
                    }
                }
                a.button {
                    margin-top: 16px;
                }
            }
            .other_media {
                display: grid;
                grid-template-columns: repeat(5,1fr);
                div {
                    img {
                        width: 85%;
                    }
                }
            }

        }
    }       