
  /// collection slider   
  .smallmans {
    h1.slider__title { 
        text-align: center;
    }

    .collection-slider__holder {
        width: 100%;
        width: 100vw;
        min-width: 100vw;
        margin: 0;
        padding: 64px 0;
        min-height: 30vw;
    }

    &__collection__slider {

    width: 100%;
    @include responsive(width, (1920px: 95%, 2000px: 85%) );
    padding: 0 40px;
    border: 0;
    min-height: 50vh;
    margin: 0 auto;

    .slider__card {
        width: 100%;
        @include responsive(width, (768px:50%, 980px:33%, 1200px:25%));
        height: auto;
        padding: 0px 8px;
        }    
    }
}

$sliderThemes:
// style - background-color - color - button background - button-text
"blue" "var(--theme-blue-light)" "var(--theme-white)" "var(--theme-orange)" "var(--theme-white)",
"orange" "var(--theme-orange-light)" "var(--theme-white)" "var(--theme-blue)" "var(--theme-white)",
"gray" "var(--theme-gray-warm)" "var(--theme-black)" "var(--theme-black)" "var(--theme-white)",
"white" "white" "black" "black" "white",
"transparent" "transparent" "var(--theme--black)" "var(--theme-black)" "var(--theme-white)"; 

@each $color, $bg, $text, $buttonbg, $buttontext in $sliderThemes {
    .smallmans__collection__slider[theme="#{$color}"]{
        background-color: transparent;
        color: #{$text};
    }
    .smallmans h1.slider__title[theme="#{$color}"] {
        color: #{$text};
    }    
    .smallmans .collection-slider__holder[theme="#{$color}"] {
        background-color: #{$bg};
    }    
 
}