
  // collections sections
  .smallmans.single-collection {
    --layoutbg: none;
    --background-color: var(--theme-color--secondary);
    --text-color: var(--theme-white);
    
    width: 100%;
    padding: 2em 0;
    padding: 5vh 0;
    color: var(--text-color);
    background-color: var(--background-color);

    
    h1 {
      color: var(--text-color);
      margin-top: 1rem;
    }

    h4 {
        color: var(--text-color);
        margin-bottom: 0;
        margin-top: 0;
    }

    .single-collection__header {
      width: var(--max-container-width);
      margin: 0 auto;      
      display: flex;
      justify-content: space-between;
    }
}

.layoutbg-pipe_bottom,
.smallmans.single-collection[layout="pipe_bottom"] {
    background-image: var(--layoutbg);
    background-repeat: no-repeat;
    background-position: 0px calc(100% - 32px);
    background-size: 50%;
}

.layoutbg-pipe_corner,
.smallmans.single-collection[layout="pipe_corner"] {
    background-image: var(--layoutbg);
    background-repeat: no-repeat;
    background-position: calc(100% - 32px) calc(100% - 32px);
    background-size: 100%;
}

.layoutbg-watermark,
.smallmans.single-collection[layout="watermark"] {
    background-image: var(--layoutbg);
    background-repeat: no-repeat;
    background-position: calc(100% + 240px) 0px;
    background-size: 50%;
}

.layoutbg-default,
.smallmans.single-collection[layout="default"] {
    background-image: none;
}

.smallmans.single-collection.blue,
.smallmans.single-collection[theme="blue"] {
  --background-color: var(--theme-color--secondary);
  --text-color: var(--theme-white);
}
.smallmans.single-collection.orange,
.smallmans.single-collection[theme="orange"] {
  --background-color: var(--theme-color--primary);
  --text-color: var(--theme-white);
}
.smallmans.single-collection.gray,
.smallmans.single-collection[theme="gray"] {
  --background-color: var(--theme-gray-cold);
  --text-color: var(--theme-black);
}
.smallmans.single-collection.transparent,
.smallmans.single-collection[theme="transparent"] {
  --background-color: transparent;
  --text-color: var(--theme-black);
}


.layout-pipe-bottom,
.smallmans.single-collection[layout='pipe-bottom']{
    background-image: url();
    background-position: bottom left;
    background-repeat: no-repeat;
}

.layout-pipe-corner,
.smallmans.single-collection[layout='pipe-corner']{
    background-image: url();
    background-position: bottom left;
    background-repeat: no-repeat;
}