 .product-cards__container {
  width:  var(--max-container-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin: 0 auto;

  &:after {
    content: "";
    flex: 0 0 30%;
  }

}

.product-card__column {
  display: flex;
  justify-content: center;
  margin: 16px 0px;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 20%;
  max-width: 420px;
  min-width: 280px;
}

.smallmans__product-card {
  --bg-color: #d3d3d3;
  --text-color: black;
  --inverse-color: #3d3d3d;
  --iverse-text-color: black;
  --default-button-color: #e8e8e8;
  --display-cart-button: none;
  --layout-direction: column;
  --layout-size: 100%;
  --wfill: 100%;
  --hfill: auto;
  --pads: 0px 0px 16px 0px;
  --shadow-color: #88888888;
  --border--radius: 16px;

  display: flex;
  flex-direction: var(--layout-direction);
  align-items: center;
  width: var(--layout-size);
  height: 100%;
  border-radius: var(--border--radius);
  overflow: hidden;
  background-color: var(--bg-color);
  font: var(--font-p);

  .card__image {
    width: 100%;
    height: 0; // * make squared space
    padding-bottom: 100%; // make squared space
    overflow: hidden;
    border-radius: 16px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    box-shadow: 0 0 15px 5px var(--shadow-color);
    transition: 300ms ease all;

    &:hover {
      box-shadow: 0 0 20px 0px #000;
      transition: 300ms ease all;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      box-shadow: inset 0 0 80px 1px #00000033; // make halo
    }

    img {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%); // center image inside image container
    }
  }

  .card__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8px 16px;
    flex-grow: 1;

    h1.title {
      font: var(--font-card-h1);
      color: var(--text-color);
      margin: 0px 16px;
      width: 30ch;
      text-overflow: ellipsis;
      border: 1px solid white;
    }

    p.price {
      font: var(--font-card-price);
      flex-grow: 1;
      color: var(--text-color);
      overflow: hidden;
      margin: 16px 0;

      &:before {
        --currency: "$ ";
        content: var(--currency);
      }
    }

    p.description {
      color: var(--text-color);
      font-size: 0.8em;
      text-align: center;
      margin: 0px 16px;
    }
  }

  .action__buttons {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 12px;
    margin-top: 8px;

    > a {
      display: inline-block;
      text-decoration: none;
      color: var(--text-color);
      font-size: 0.5em;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 8px;
      padding: 12px 18px;
      transition: all 300ms ease;
      color: var(--default-button-text-color);
      background-color: var(--default-button-color);

      &:hover {
        box-shadow: 0px 0px 15px 0px #0008;
        transition: all 300ms ease;
        font-weight: bold;
      }

      &:first-child {
        margin-right: 16px;
      }
    }

    a.default {
      border: 0;
    }

    a.add_to_cart {
      display: var(--display-cart-button);
      background-color: transparent;
      border: 2px solid var(--inverse-color);
      color: var(--inverse-color);
    }
  }
}


.card-theme-transparent-invert,
.smallmans__card[theme="transparent-invert"] {
  --bg-color: #d3d3d3;
  --text-color: black;
  --inverse-color: #3d3d3d;
  --inverse-text-color: black;
  --default-button-text-color: white;
  --default-button-color: #e8e8e8;
}
.card-theme-transparent,
.smallmans__product-card[theme="transparent"] {
  --bg-color: transparent;
  --text-color: black;
  --inverse-color: #3d3d3d;
  --inverse-text-color: black;
  --default-button-text-color: black;
  --default-button-color: #e8e8e8;
}
.card-theme-gray,
.smallmans__product-card[theme="gray"] {
  --bg-color: #d3d3d3;
  --text-color: black;
  --inverse-color: #3d3d3d;
  --inverse-text-color: black;
  --default-button-text-color: black;
  --default-button-color: white;
}
.card-theme-blue,
.smallmans__product-card[theme="blue"] {
  --bg-color: #163372;
  --text-color: white;
  --inverse-color: white;
  --inverse-text-color: white;
  --default-button-color: white;
  --default-button-text-color: black;
  --shadow-color: #000000aa;
}
.card-theme-orange,
.smallmans__product-card[theme="orange"] {
  --bg-color: #ee4824;
  --text-color: white;
  --inverse-color: white;
  --inverse-text-color: black;
  --default-button-background: white;
  --default-button-text-color: black;
  --shadow-color: #000000bb;
}
.display-cart-button,
.smallmans__product-card[btn-cart="true"] {
  --display-cart-button: inline-block !important;
}
.layout-horizontal,
.smallmans__product-card[layout="horizontal"] {
  --layout-direction: row;
  --layout-size: 640px;
  --wfill: 100%;
  --hfill: auto;
  --pads: 0px 16px 0px 0px;
}

.smallmans__product-card[parent="slider"] {
  --layout-direction: row;
  --layout-size: 640px;
  --wfill: 100%;
  --hfill: auto;
  --pads: 0px 16px 0px 0px;
}
.smallmans__product-card[parent="collection"] {
  --layout-direction: row;
  --layout-size: 640px;
  --wfill: 100%;
  --hfill: auto;
  --pads: 0px 16px 0px 0px;
}
.smallmans__product-card[parent="collection"] {
  --layout-direction: row;
  --layout-size: 640px;
  --wfill: 100%;
  --hfill: auto;
  --pads: 0px 16px 0px 0px;
}
.smallmans__product-card[border="corner"] {
  --border--radius: 0px;
}
.smallmans__product-card[border="rounded-max"] {
  --border--radius: 24px;
}
.smallmans__product-card[show-title="false"] {
  --border--radius: 24px;
}
.smallmans__product-card[show-price="false"] {
  --border--radius: 24px;
}
.smallmans__product-card[show-buy="false"] {
  --border--radius: 24px;
}

//

.card {
  display: block;
  overflow: hidden;
  text-decoration: none;
}

.card + .card-information {
  margin-top: 1.2rem;
}

.card.card--soft {
  color: var(--theme-color--background);
  background-color: var(--theme-color--primary);
}

.card__text {
  display: flex;
  align-items: center;
}

.card .icon-arrow {
  width: 1.5rem;
}

.card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}

.card .h1 .icon-arrow,
.card .h2 .icon-arrow {
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.card--media {
  display: block;
  text-decoration: none;
}

.card--text-only {
  display: flex;
  justify-content: center;
}

.card--text-only::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.card--product {
  border: 0;
  position: relative;
}

.card--stretch {
  height: 100%;
}

.card--light-border {
  border: 0;
}

.card--light-border:hover {
  border: 0;
  box-shadow: none;
}

.card__text-spacing {
  padding: 3rem;
}

.card-colored.color-background-1 {
  background-color: 0;
}

.card--media .card__text-spacing {
  padding: 2rem;
}
