@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

:root { 
    
    /* Color styles */
    --theme-blue-light: #1A4AD1;
    --theme-blue: #20409A;
    --theme-blue-dark: #163372;
    --theme-red: #EE2B24;
    --theme-orange-light: #e95a3a;
    --theme-orange: #EE4824;
    --theme-orange-dark: #a82f13;
    --theme-white: #FFFFFF;
    --theme-gray-bright: #E4E7ED;
    --theme-gray-warm: #DED9D5;
    --theme-gray-cold: #EFF6F9;
    --theme-gray-medium: #727A8B;
    --theme-gray: #727A8B;
    --theme-gray-dark: #404349;
    --theme-black: #222;
    --theme-yellow: #FECA2F;
    --theme-white: #f3f3f3;

    --theme-color--primary: var(--theme-red);
    --theme-color--secondary: var(--theme-blue);
    --theme-color--accent: var(--theme-orange);
    --theme-color--text: var(--theme-gray-dark);
    --theme-color--text-inverse: var(--theme-gray-warm);
    --theme-color--background: var(--theme-gray-warm);
    
    --theme-padding: 16px;
    --theme-section-margin: 64px 0px;
    --smallmans-duration: 300ms;

    --font--family: 'Nunito', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --font-p: normal normal normal var(--font-size)/1.1 var(--font--family); 
    --font-input: normal normal bold calc(var(--font-size)*0.8)/1.1 var(--font--family); 
    --font-menu-item: normal normal 900 var(--font-size)/1.1 var(--font--family); 
    --font-small: normal normal bold calc(var(--font-size) * 0.4)/1 var(--font--family); 
    --font-h1: normal normal bold calc(var(--font-size) * 2)/1.1 var(--font--family); 
    --font-hero: normal normal 900 calc(var(--font-size) * 4)/1.1 var(--font--family); 
    --font-h2: normal normal bold calc(var(--font-size) * 1.8)/1.1 var(--font--family) ;
    --font-h3: normal normal bold calc(var(--font-size) * 1.2)/1.1 var(--font--family); 
    --font-h4: normal normal bold calc(var(--font-size) * 0.8)/1.1 var(--font--family); 
    --font-h5: normal normal bold calc(var(--font-size) * 0.5)/1.1 var(--font--family); 
    --font-button: normal normal bold calc(var(--font-size) * 0.8)/1.1 var(--font--family); 
    --font-button-small: normal normal bold calc(var(--font-size) * 0.4)/1.1 var(--font--family); 
    --font-button-large: normal normal bold calc(var(--font-size) * 1)/1.1 var(--font--family); 
    --font-menu-main:   normal normal bold calc(var(--font-size) * 1)/1.1 var(--font--family); 
    --font-card-h1: normal normal bold calc(var(--font-size) * 0.8)/1.1 var(--font--family); 
    --font-card-h2: normal normal normal calc(var(--font-size) * 0.8)/1.1 var(--font--family); 
    --font-card-price: normal normal bold calc(var(--font-size) * 0.8)/1.1 var(--font--family); 
    --font-card-text: normal normal normal calc(var(--font-size) * 0.8)/1.1 var(--font--family); 

    //base font size
    --font-size: 20px;
    @media screen and (min-width: 1200px) {
        --font-size: 28px;
    }

    --font-regular: 400;
    --font-normal: var(--font-regular);
    --font-bold: 700;
    --font-bolder: 900;

}

body {
    font-size: var(--font-size);
    line-height: 1.1;
}

.smallmans {

    font-size: var(--font--size);
    font-family: var(--font--family);
    line-height: var(--base-line-height);    

    h1 {
        font: var(--font-h1);
    }

    h2 {
        font: var(--font-h2);
    }

    h3 {
        font: var(--font-h3);
        text-transform: uppercase;
    }

    h4 {
        font: var(--font-h4);
        text-transform: uppercase;
    }

    h5 {
        font: var(--font-h4);
        font-weight: var(--font-bolder);
        text-transform: uppercase;
    }

    small {
        font: var(--font-small);
    }

    p { 
        font: var(--font-p);
    }

    strong {
        font: var(--font-p);
        font-weight:var(--font-bolder);
    }
        
    a { 
        font: var(--font-p);
        text-decoration: none;
    }

    input[name="add"],
    button,
    .button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        font: var(--font-button);
        text-align: center;
        cursor: pointer;
        padding: calc(var(--font-size)/2.5) calc(var(--font-size)/2);
        height: fit-content;
        width: fit-content;
        transition: all var(--smallmans-duration) linear;
        border: 0;
        outline: 0;
        box-shadow: 0 0 0 0 transparent;
    }

    input[name="add"].primary,
    button.primary,
    .button.primary {
        background-color: var(--theme-color--primary);
        color: var(--theme-color--text-inverse);
    }
    input[name="add"].secondary,
    button.secondary,
    .button.secondary {
        background-color: var(--theme-color--secondary);
        color: var(--theme-color--text-inverse);
    }

    input[name="add"].outline,
    button.outline,
    .button.outline { 
        background-color: transparent;
        border: 2px solid var(--theme-color--primary);
        color: var(--theme-color--primary) !important;
    }
    input[name="add"].outline.invert,
    button.outline.invert,
    .button.outline.invert {
        background-color: transparent;
        border: 2px  solid var(--theme-color--text-inverse) !important;
        color: var(--theme-color--text-inverse) !important;
    }
    input[name="add"].outline.secondary,
    button.outline.secondary,
    .button.outline.secondary {
        background-color: transparent;
        border: 2px  solid var(--theme-color--secondary);
        color: var(--theme-color--secondary);
    }

    .button__icon {
        margin-right: 8px;
        svg {
            width: 100%;
            height: 100%;
        }
    }

}
input[name="add"].small,
button.small,
.button.small { 
    font: var(--font-button-small);
    text-transform: uppercase;
}
input[name="add"].large,
button.large,
.button.large {
    font-size: var(--font-button-large);
} 

input[name="add"]:hover,
.button:hover,
button:hover,
a.button:hover {
        box-shadow: 0px 0px 5px 0px #0008 !important;
        outline: 0;
        transition: all var(--smallmans-duration) linear;
    }

.smallmans__content {
    * { box-sizing: border-box };
    box-sizing: border-box;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    @include responsive(width, ( 1200px: 90%, 1440px: 85%, 1920px: 1800px ));
}

// product-card__column customizations

.product-card__column[component="productgrid"],
.product-card__column[component="productrecommendation"]{
    min-width: 210px;
}

// tags customizations based on attributes

$buttonThemes: 
"blue" "var(--theme-blue)" "var(--theme-white)",
"orange" "var(--theme-orange)" "var(--theme-white)",
"gray" "var(--theme-gray-warm)" "var(--theme-black)",
"white" "white" "var(--theme-black)",
"black" "var(--theme-gray-dark)" "white";

@each $color, $bg, $text in $buttonThemes {
    input[theme="#{$color}"],
    .button[theme="#{$color}"],
    a.button[theme="#{$color}"],
    button[theme="#{$color}"]{
      background-color: #{$bg} !important;
      color: #{$text} !important;
    }
}

$componentType:
"productpage" "flex" "100%" "0px 0px 16px 0px" "1rem" "uppercase",
"productcard" "inline-flex" "fit-content" "0" "" "";
@each $component, $display, $width, $margin, $padding, $texttransform in $componentType {
    input[component="#{$component}"],
    .button[component="#{$component}"],
    a.button[component="#{$component}"],
    button[component="#{$component}"]{
        display: #{$display};
        width: #{$width};
        margin: #{$margin};
        padding: #{$padding};
        text-transform: #{$texttransform};
    }
}
