@import "_grid.scss";
@import "_mixins.scss";
@import "_smallmans-theme.scss";
@import "_smallmans-hero-header.scss";
@import "_smallmans-cards.scss";
@import "_smallmans-call-to-action";
@import "_smallmans-collection-slider";
@import "_smallmans-collections";
@import "_smallmans-single-product";

img.smallmans.header__logo {
    width: 280px;
}

// flickity overwrites
button.flickity-button,
button.flickity-button:hover {
    background: transparent;
    box-shadow: none !important;
  }

  @media(min-width: 980px) {
  .flickity-prev-next-button.previous {
    left: -24px;
  }
  .flickity-prev-next-button.next {
    right: -24px;
  }
}
  @media(min-width: 1560px) {
  .flickity-prev-next-button.previous {
    left: -48px;
  }
  .flickity-prev-next-button.next {
    right: -48px;
  }
}
.flickity-prev-next-button {
    width: 100px !important;
    height: 100px !important;
    border: 0;
    outline: 0;
    transform: scale(1);
    filter: drop-shadow(3px 3px 2px #0008);
    transition: all 300ms ease;
  }
  .flickity-prev-next-button:hover {
    width: 100px !important;
    height: 100px !important;
    border: 0;
    outline: 0;
    filter: drop-shadow(5px 5px 4px #0008);
    transform: scale(1.3);
    transition: all 100ms ease;
  }
  /* icon color */
  .flickity-button-icon {
    fill: var(--theme-color--secondary);
    transition: all var(--smallmans-duration) linear;
  }
  .flickity-button-icon:hover {
    fill: var(--theme-color--primary);
    transition: all var(--smallmans-duration) linear;
  }



  .smallmans.smallmans-announcement-bar {
    background-color: var(--theme-white);
    color: var(--theme-blue);
    width: 100vw;
    min-width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    font: var(--font-h3);

    svg {
      width: 32px;
    }

    a {
      transition: all 100ms ease;
      text-shadow: 0px 0px 0px #00000000;
      color: var(--theme-black);
    }
    a:hover {
      transition: all 100ms ease;
      text-shadow: 10px 10px 5px #00000088;
      transform: translate(-5px, -5px);
    }
  }
  .smallmans.smallmans-announcement-bar[color='orange']{
    color: var(--theme-white);
    background-color: var(--theme-orange);
    a {
      color: var(--theme-white);
    }
  }
  .smallmans.smallmans-announcement-bar[color='blue']{
    color: var(--theme-white);
    background-color: var(--theme-blue);
    a {
      color: var(--theme-white);
    }
  }
  .smallmans.smallmans-announcement-bar[color='black']{
    color: var(--theme-white);
    background-color: var(--theme-black);
    a {
      color: var(--theme-white);
    }
  }
  .smallmans.smallmans-announcement-bar[color='gray']{
    color: var(--theme-black);
    background-color: var(--theme-gray-dark);
    a {
      color: var(--theme-white);
    }
  }