@import "_smallmans-theme.scss";
@import "_smallmans-hero-header.scss";
@import "_smallmans-cards.scss";


img.smallmans.header__logo {
    width: 280px;
}

button.flickity-button,
button.flickity-button:hover {
    background: transparent;
    box-shadow: none !important;
  }
  /* big previous & next buttons */
.flickity-prev-next-button,
.flickity-prev-next-button:hover {
    width: 100px;
    height: 100px;
    border: 0;
    outline: 0;
  }
  /* icon color */
  .flickity-button-icon {
    fill: var(--theme-color--secondary);
    transition: all var(--smallmans-duration) linear;
  }
  .flickity-button-icon:hover {
    fill: var(--theme-color--primary);
    transition: all var(--smallmans-duration) linear;
  }

  /* hide disabled button */
  .flickity-button:disabled {
    display: none;
  }

  .smallmans.call-to-action {
      display: flex;
      flex-direction: row;
      background-color: var(--theme-blue);
      color: var(--theme-white);
      margin: var(--theme-section-margin);
      
      .product-image {
          width: 40%;
          flex-shrink: 0;
          padding: var(--theme-padding);
          background-color: var(--theme-color--accent);
          img {
              width: 100%;
              padding: calc(var(--theme-padding) * 1.5);
          }
      }
      .text-content {
          display: flex;
          flex-direction: column;
          padding: var(--theme-padding) calc(var(--theme-padding) * 5);
          align-self: center;
          h1 {
              color: var(--theme-white);
              margin: 0;
          }
          h3 {
              color: var(--theme-white);
              opacity: 0.8;
          }
          span {
              margin: 16px 0px 32px 0px;
          }
      }
  }