@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");
:root {
  --grid_gap: 4px;
  --max-container-width: 90%;
  --grid_space: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1920px) {
  :root {
    --max-container-width: 1860px;
  }
}

body {
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
}

.grid-container,
.grid-container-full,
.grid-container-fit,
.grid-container-fill {
  padding: 0 !important;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00000000;
  overflow-x: hidden;
}

.grid-container {
  width: var(--max-container-width);
  max-width: var(--max-container-width);
}

.grid-container-full {
  width: 100vw;
  max-width: 100vw;
}

.grid-container-fit,
.grid-container-fill {
  width: 100%;
  max-width: 100%;
}

.col {
  margin: calc(var(--grid_gap) / 2);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.col[w25],
.w25 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: calc(25% - (var(--grid_gap) * 2));
}

.col[w30],
.col[w32],
.w30,
.w33 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: calc(33% - (var(--grid_gap) * 2));
}

.col[w50],
.w50 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: calc(50% - (var(--grid_gap) * 2));
}

.col[w75],
.w75 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: calc(75% - (var(--grid_gap) * 2));
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.row.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* breakpoints */
@media (max-width: 360px) {
  .row {
    display: block;
  }
  .col {
    margin: var(--grid_gap);
  }
}

@media (max-width: 768px) {
  .col[w25], .w25,
  .col[w30], .w30,
  .col[w33], .w33 {
    width: calc(50% - (var(--grid_gap) * 2));
  }
  .col[w50], .w50,
  .col[w75], .w75 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

:root {
  /* Color styles */
  --theme-blue-light: #1A4AD1;
  --theme-blue: #20409A;
  --theme-blue-dark: #163372;
  --theme-red: #EE2B24;
  --theme-orange: #EE4824;
  --theme-white: #FFFFFF;
  --theme-gray-bright: #E4E7ED;
  --theme-gray-warm: #DED9D5;
  --theme-gray-cold: #EFF6F9;
  --theme-gray-medium: #727A8B;
  --theme-gray-dark: #404349;
  --theme-black: #222;
  --theme-yellow: #FECA2F;
  --theme-white: #f3f3f3;
  --theme-color--primary: var(--theme-red);
  --theme-color--secondary: var(--theme-blue);
  --theme-color--accent: var(--theme-orange);
  --theme-color--text: var(--theme-gray-dark);
  --theme-color--text-inverse: var(--theme-gray-warm);
  --theme-color--background: var(--theme-gray-warm);
  --theme-padding: 16px;
  --theme-section-margin: 64px 0px;
  --smallmans-duration: 300ms;
  --font--family: 'Nunito', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --font-min: 16;
  /* font min size */
  --font-max: 32;
  /* font max size */
  --font-min-clamp: 320;
  /* font stops shrinking */
  --font-max-clamp: 1600;
  /* font stops growing */
  --base-line-height: 1.1;
  --font-p: normal normal normal var(--font--size)/1 var(--font--family);
  --font-menu-item: normal normal 900 var(--font--size)/1 var(--font--family);
  --font-small: normal normal normal calc(var(--font--size) * 0.6)/1 var(--font--family);
  --font-h1: normal normal bold calc(var(--font--size) * 2)/1 var(--font--family);
  --font-h2: normal normal bold calc(var(--font--size) * 1.8)/1 var(--font--family) ;
  --font-h3: normal normal normal calc(var(--font--size) * 1.2)/1 var(--font--family);
  --font-h4: normal normal bold calc(var(--font--size) * 0.8)/1 var(--font--family);
  --font-button: normal normal bold calc(var(--font--size) * 0.8)/1 var(--font--family);
  --font-button-small: normal normal bold calc(var(--font--size) * 0.5)/1 var(--font--family);
  --font-button-large: normal normal bold calc(var(--font--size) * 1.2)/1 var(--font--family);
  --font-menu-main:   normal normal bold calc(var(--font--size) * 1.2)/1 var(--font--family);
  --font-card-h1: normal normal bold calc(var(--font--size) * 0.8)/1 var(--font--family);
  --font-card-h2: normal normal normal calc(var(--font--size) * 0.8)/1 var(--font--family);
  --font-card-price: normal normal bold calc(var(--font--size) * 0.8)/1 var(--font--family);
  --font-card-text: normal normal normal calc(var(--font--size) * 0.8)/1 var(--font--family);
  --font--size: calc( var(--font-min) *1px);
}

@media (min-width: 320px) {
  :root {
    --font--size: calc( calc(var(--font-min) * 1px) + (var(--font-max) - var(--font-min)) * ( (100vw - calc(var(--font-min-clamp) * 1px)) / (var(--font-max-clamp) - var(--font-min-clamp)) ) );
  }
}

@media (min-width: 1600px) {
  :root {
    font-size: 32px;
  }
}

@media (min-width: 1440px) {
  :root {
    --font--size: calc( var(--font-max) *1px );
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.smallmans {
  font-size: var(--font--size);
  font-family: var(--font--family);
  line-height: var(--base-line-height);
}

.smallmans h1 {
  font: var(--font-h1);
}

.smallmans h2 {
  font: var(--font-h2);
}

.smallmans h3 {
  font: var(--font-h3);
  text-transform: uppercase;
}

.smallmans h4 {
  font: var(--font-h4);
  text-transform: uppercase;
}

.smallmans small {
  font: var(--font-small);
}

.smallmans p {
  font: var(--font-p);
}

.smallmans strong {
  font: var(--font-p);
  font-weight: bolder;
}

.smallmans a {
  font: var(--font-p);
  text-decoration: none;
  text-transform: uppercase;
}

.smallmans button,
.smallmans .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 0 solid transparent;
  outline: 0 solid transparent;
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
  font: var(--font-button);
  text-align: center;
  -webkit-transition: all var(--smallmans-duration) linear;
  transition: all var(--smallmans-duration) linear;
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: var(--font--size);
}

.smallmans button.primary,
.smallmans .button.primary {
  background-color: var(--theme-color--primary);
  color: var(--theme-color--text-inverse);
}

.smallmans button.secondary,
.smallmans .button.secondary {
  background-color: var(--theme-color--secondary);
  color: var(--theme-color--text-inverse);
}

.smallmans button.outline,
.smallmans .button.outline {
  background-color: transparent;
  border: 2px solid var(--theme-color--primary);
  color: var(--theme-color--primary) !important;
}

.smallmans button.outline.invert,
.smallmans .button.outline.invert {
  background-color: transparent;
  border: 2px solid var(--theme-color--text-inverse) !important;
  color: var(--theme-color--text-inverse) !important;
}

.smallmans button.outline.secondary,
.smallmans .button.outline.secondary {
  background-color: transparent;
  border: 2px solid var(--theme-color--secondary);
  color: var(--theme-color--secondary);
}

button.small,
.button.small {
  font: var(--font-button-small);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

button.large,
.button.large {
  font-size: 1.2rem;
  padding: 20px 32px;
}

button.large button:hover,
button.large a:hover,
.button.large button:hover,
.button.large a:hover {
  -webkit-box-shadow: 0px 0px 5px 0px #0008 !important;
          box-shadow: 0px 0px 5px 0px #0008 !important;
  -webkit-transition: all var(--smallmans-duration) linear;
  transition: all var(--smallmans-duration) linear;
}

.smallmans__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 95%;
  padding: 0;
  margin: 0 auto;
}

.smallmans__content * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1200px) {
  .smallmans__content {
    width: 90%;
  }
}

@media (min-width: 1440px) {
  .smallmans__content {
    width: 85%;
  }
}

@media (min-width: 1920px) {
  .smallmans__content {
    width: 1800px;
  }
}

.smallmans__header-hero .flickity-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smallmans__header-hero .flickity-prev-next-button.previous {
  left: 0px;
}

.smallmans__header-hero .flickity-prev-next-button.next {
  right: 0px;
}

.smallmans__header-hero .flickity-hero-carousel {
  background-image: linear-gradient(135deg, white 60%, #4446);
  width: 100%;
}

@media (min-width: 1921px) {
  .smallmans__header-hero .flickity-hero-carousel {
    max-width: 75vh;
  }
}

.smallmans__header-hero .flickity-hero-carousel .slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.smallmans__header-hero .flickity-hero-carousel .slide__product-image {
  width: 50%;
  min-width: 280px;
  min-height: 280px;
  padding: 16px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1921px) {
  .smallmans__header-hero .flickity-hero-carousel .slide__product-image {
    max-height: 75%;
    height: 75%;
    width: auto;
  }
}

.smallmans__header-hero .flickity-hero-carousel .slide__product-image img {
  width: 80%;
}

.smallmans__header-hero .flickity-hero-carousel .slide__text-content {
  padding: 32px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.smallmans__header-hero .flickity-hero-carousel .slide__text-content h1 {
  font: var(--font-h1);
  text-align: center;
  text-transform: uppercase;
  color: var(--theme-color--secondary);
  margin-bottom: 0;
}

.smallmans__header-hero .flickity-hero-carousel .slide__text-content h2, .smallmans__header-hero .flickity-hero-carousel .slide__text-content h2 span {
  text-align: center;
  font-weight: normal;
  color: var(--theme-blue);
}

.smallmans__header-hero .flickity-hero-carousel .slide__text-content span {
  text-align: center;
  font-weight: normal;
  color: var(--theme-gray-dark);
  font-size: 1em;
}

.smallmans__header-hero .flickity-hero-carousel .slide__text-content button {
  margin-top: 32px;
  font: var(--font-button);
}

.product-cards__container {
  width: var(--max-container-width);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  margin: 0 auto;
}

.product-cards__container:after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.product-card__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 16px 0px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  max-width: 420px;
  min-width: 280px;
}

.smallmans__product-card {
  --bg-color: #d3d3d3;
  --text-color: black;
  --inverse-color: #3d3d3d;
  --iverse-text-color: black;
  --default-button-color: #e8e8e8;
  --display-cart-button: none;
  --layout-direction: column;
  --layout-size: 100%;
  --wfill: 100%;
  --hfill: auto;
  --pads: 0px 0px 16px 0px;
  --shadow-color: #88888888;
  --border--radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: var(--layout-direction);
          flex-direction: var(--layout-direction);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--layout-size);
  height: 100%;
  border-radius: var(--border--radius);
  overflow: hidden;
  background-color: var(--bg-color);
  font: var(--font-p);
}

.smallmans__product-card .card__image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 15px 5px var(--shadow-color);
          box-shadow: 0 0 15px 5px var(--shadow-color);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.smallmans__product-card .card__image:hover {
  -webkit-box-shadow: 0 0 20px 0px #000;
          box-shadow: 0 0 20px 0px #000;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.smallmans__product-card .card__image:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-box-shadow: inset 0 0 80px 1px #00000033;
          box-shadow: inset 0 0 80px 1px #00000033;
}

.smallmans__product-card .card__image img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.smallmans__product-card .card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 8px 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.smallmans__product-card .card__text h1.title {
  font: var(--font-card-h1);
  color: var(--text-color);
  margin: 0px 16px;
  width: 30ch;
  text-overflow: ellipsis;
  border: 1px solid white;
}

.smallmans__product-card .card__text p.price {
  font: var(--font-card-price);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: var(--text-color);
  overflow: hidden;
  margin: 16px 0;
}

.smallmans__product-card .card__text p.price:before {
  --currency: "$ ";
  content: var(--currency);
}

.smallmans__product-card .card__text p.description {
  color: var(--text-color);
  font-size: 0.8em;
  text-align: center;
  margin: 0px 16px;
}

.smallmans__product-card .action__buttons {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
  margin-top: 8px;
}

.smallmans__product-card .action__buttons > a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 12px 18px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: var(--default-button-text-color);
  background-color: var(--default-button-color);
}

.smallmans__product-card .action__buttons > a:hover {
  -webkit-box-shadow: 0px 0px 15px 0px #0008;
          box-shadow: 0px 0px 15px 0px #0008;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-weight: bold;
}

.smallmans__product-card .action__buttons > a:first-child {
  margin-right: 16px;
}

.smallmans__product-card .action__buttons a.default {
  border: 0;
}

.smallmans__product-card .action__buttons a.add_to_cart {
  display: var(--display-cart-button);
  background-color: transparent;
  border: 2px solid var(--inverse-color);
  color: var(--inverse-color);
}

.card-theme-transparent-invert,
.smallmans__card[theme="transparent-invert"] {
  --bg-color: #d3d3d3;
  --text-color: black;
  --inverse-color: #3d3d3d;
  --inverse-text-color: black;
  --default-button-text-color: white;
  --default-button-color: #e8e8e8;
}

.card-theme-transparent,
.smallmans__product-card[theme="transparent"] {
  --bg-color: transparent;
  --text-color: black;
  --inverse-color: #3d3d3d;
  --inverse-text-color: black;
  --default-button-text-color: black;
  --default-button-color: #e8e8e8;
}

.card-theme-gray,
.smallmans__product-card[theme="gray"] {
  --bg-color: #d3d3d3;
  --text-color: black;
  --inverse-color: #3d3d3d;
  --inverse-text-color: black;
  --default-button-text-color: black;
  --default-button-color: white;
}

.card-theme-blue,
.smallmans__product-card[theme="blue"] {
  --bg-color: #163372;
  --text-color: white;
  --inverse-color: white;
  --inverse-text-color: white;
  --default-button-color: white;
  --default-button-text-color: black;
  --shadow-color: #000000aa;
}

.card-theme-orange,
.smallmans__product-card[theme="orange"] {
  --bg-color: #ee4824;
  --text-color: white;
  --inverse-color: white;
  --inverse-text-color: black;
  --default-button-background: white;
  --default-button-text-color: black;
  --shadow-color: #000000bb;
}

.display-cart-button,
.smallmans__product-card[btn-cart="true"] {
  --display-cart-button: inline-block !important;
}

.layout-horizontal,
.smallmans__product-card[layout="horizontal"] {
  --layout-direction: row;
  --layout-size: 640px;
  --wfill: 100%;
  --hfill: auto;
  --pads: 0px 16px 0px 0px;
}

.smallmans__product-card[parent="slider"] {
  --layout-direction: row;
  --layout-size: 640px;
  --wfill: 100%;
  --hfill: auto;
  --pads: 0px 16px 0px 0px;
}

.smallmans__product-card[parent="collection"] {
  --layout-direction: row;
  --layout-size: 640px;
  --wfill: 100%;
  --hfill: auto;
  --pads: 0px 16px 0px 0px;
}

.smallmans__product-card[parent="collection"] {
  --layout-direction: row;
  --layout-size: 640px;
  --wfill: 100%;
  --hfill: auto;
  --pads: 0px 16px 0px 0px;
}

.smallmans__product-card[border="corner"] {
  --border--radius: 0px;
}

.smallmans__product-card[border="rounded-max"] {
  --border--radius: 24px;
}

.smallmans__product-card[show-title="false"] {
  --border--radius: 24px;
}

.smallmans__product-card[show-price="false"] {
  --border--radius: 24px;
}

.smallmans__product-card[show-buy="false"] {
  --border--radius: 24px;
}

.card {
  display: block;
  overflow: hidden;
  text-decoration: none;
}

.card + .card-information {
  margin-top: 1.2rem;
}

.card.card--soft {
  color: var(--theme-color--background);
  background-color: var(--theme-color--primary);
}

.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .icon-arrow {
  width: 1.5rem;
}

.card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  -webkit-transition: -webkit-transform var(--duration-short) ease;
  transition: -webkit-transform var(--duration-short) ease;
  transition: transform var(--duration-short) ease;
  transition: transform var(--duration-short) ease, -webkit-transform var(--duration-short) ease;
  overflow: hidden;
}

.card .h1 .icon-arrow,
.card .h2 .icon-arrow {
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.card--media {
  display: block;
  text-decoration: none;
}

.card--text-only {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card--text-only::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.card--product {
  border: 0;
  position: relative;
}

.card--stretch {
  height: 100%;
}

.card--light-border {
  border: 0;
}

.card--light-border:hover {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card__text-spacing {
  padding: 3rem;
}

.card-colored.color-background-1 {
  background-color: 0;
}

.card--media .card__text-spacing {
  padding: 2rem;
}

.smallmans.call-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: var(--theme-blue);
  color: var(--theme-white);
}

.smallmans.call-to-action .product-image {
  width: 40%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: calc( var(--theme-padding) * 3);
  background-color: var(--theme-color--accent);
}

.smallmans.call-to-action .product-image img {
  width: 100%;
}

.smallmans.call-to-action .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: var(--theme-padding) calc(var(--theme-padding) * 5);
  -ms-flex-item-align: center;
      align-self: center;
}

.smallmans.call-to-action .text-content h1 {
  color: var(--theme-white);
  margin: 0;
  font-size: var(--font--size);
}

.smallmans.call-to-action .text-content h3 {
  color: var(--theme-white);
  opacity: 0.8;
}

.smallmans.call-to-action .text-content span {
  margin: 16px 0px 32px 0px;
}

.smallmans h1.slider__title {
  text-align: center;
}

.smallmans__collection__slider {
  --bg-blue: var(--theme-blue);
  --h1-blue: var(--theme-white);
  --p-blue: var(--theme-white);
  --span-blue: var(--theme-yellow);
  --bg-gray: var(--theme-gray-warm);
  --h1-gray: var(--theme-black);
  --p-gray: var(--theme-gray-dark);
  --span-gray: var(--theme-black);
  --bg-orange: var(--theme-orange);
  --h1-orange: var(--theme-white);
  --p-orange: var(--theme-white);
  --span-orange: var(--theme-white);
  margin: 32px auto;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 1440px;
  border: 0;
  outline: 0;
}

.smallmans__collection__slider .smallmans__collection__slider-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 16px;
  border-radius: 16px;
}

.smallmans__collection__slider .smallmans__collection__slider-card .flickity-card {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--bg-style);
  -webkit-box-shadow: inset 0 0 25px 0px #8883;
          box-shadow: inset 0 0 25px 0px #8883;
  padding: 8px 8px 16px 8px;
}

@media (min-width: 640px) {
  .smallmans__collection__slider .smallmans__collection__slider-card .flickity-card {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .smallmans__collection__slider .smallmans__collection__slider-card .flickity-card {
    width: 320px;
  }
}

@media (min-width: 1200px) {
  .smallmans__collection__slider .smallmans__collection__slider-card .flickity-card {
    width: 380px;
  }
}

.smallmans__collection__slider .smallmans__collection__slider-card .flickity-card .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 280px;
  overflow: hidden;
}

.smallmans__collection__slider .smallmans__collection__slider-card .flickity-card .image img {
  max-width: 90%;
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  border-radius: 24px;
  padding: 0;
  margin: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.smallmans__collection__slider .smallmans__collection__slider-card .flickity-card .image img:hover {
  -webkit-filter: saturate(120%);
          filter: saturate(120%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.smallmans__collection__slider .smallmans__collection__slider-card .flickity-card .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: auto;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smallmans__collection__slider .smallmans__collection__slider-card .flickity-card .text * {
  text-align: center;
}

.smallmans__collection__slider .smallmans__collection__slider-card .flickity-card .text h1 {
  color: var(--h1-style);
  margin: 32px 0px 16px 0px;
  font-size: 1.3em;
  line-height: 0;
  white-space: nowrap;
  text-transform: capitalize;
}

.smallmans__collection__slider .smallmans__collection__slider-card .flickity-card .text span {
  color: var(--span-style);
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  height: 5em;
  overflow: hidden;
}

.smallmans__collection__slider .smallmans__collection__slider-card .flickity-card .text p {
  color: var(--p-style);
  font-size: 1em;
}

.smallmans__collection__slider .smallmans__collection__slider-card .flickity-card a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 8px auto 0 auto;
}

.smallmans.single-collection {
  --layoutbg: none;
  --background-color: var(--theme-color--secondary);
  --text-color: var(--theme-white);
  width: 100%;
  padding: 2em 0;
  padding: 5vh 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

.smallmans.single-collection h1 {
  color: var(--text-color);
  margin-top: 1rem;
}

.smallmans.single-collection h4 {
  color: var(--text-color);
  margin-bottom: 0;
  margin-top: 0;
}

.smallmans.single-collection .single-collection__header {
  width: var(--max-container-width);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layoutbg-pipe_bottom,
.smallmans.single-collection[layout="pipe_bottom"] {
  background-image: var(--layoutbg);
  background-repeat: no-repeat;
  background-position: 0px calc(100% - 32px);
  background-size: 50%;
}

.layoutbg-pipe_corner,
.smallmans.single-collection[layout="pipe_corner"] {
  background-image: var(--layoutbg);
  background-repeat: no-repeat;
  background-position: calc(100% - 32px) calc(100% - 32px);
  background-size: 100%;
}

.layoutbg-watermark,
.smallmans.single-collection[layout="watermark"] {
  background-image: var(--layoutbg);
  background-repeat: no-repeat;
  background-position: calc(100% + 240px) 0px;
  background-size: 50%;
}

.layoutbg-default,
.smallmans.single-collection[layout="default"] {
  background-image: none;
}

.smallmans.single-collection.blue,
.smallmans.single-collection[theme="blue"] {
  --background-color: var(--theme-color--secondary);
  --text-color: var(--theme-white);
}

.smallmans.single-collection.orange,
.smallmans.single-collection[theme="orange"] {
  --background-color: var(--theme-color--primary);
  --text-color: var(--theme-white);
}

.smallmans.single-collection.gray,
.smallmans.single-collection[theme="gray"] {
  --background-color: var(--theme-gray-cold);
  --text-color: var(--theme-black);
}

.smallmans.single-collection.transparent,
.smallmans.single-collection[theme="transparent"] {
  --background-color: transparent;
  --text-color: var(--theme-black);
}

.layout-pipe-bottom,
.smallmans.single-collection[layout='pipe-bottom'] {
  background-image: url();
  background-position: bottom left;
  background-repeat: no-repeat;
}

.layout-pipe-corner,
.smallmans.single-collection[layout='pipe-corner'] {
  background-image: url();
  background-position: bottom left;
  background-repeat: no-repeat;
}

.smallmans .single-product__container {
  width: var(--max-container-width);
  max-width: var(--max-container-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.smallmans .single-product__container .image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.smallmans .single-product__container .data {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 50%;
}

.smallmans .single-product__container .other_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.smallmans .single-product__container .other_media div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 10%;
}

img.smallmans.header__logo {
  width: 280px;
}

button.flickity-button,
button.flickity-button:hover {
  background: transparent;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media (min-width: 980px) {
  .flickity-prev-next-button.previous {
    left: -24px;
  }
  .flickity-prev-next-button.next {
    right: -24px;
  }
}

@media (min-width: 1560px) {
  .flickity-prev-next-button.previous {
    left: -48px;
  }
  .flickity-prev-next-button.next {
    right: -48px;
  }
}

.flickity-prev-next-button {
  width: 100px !important;
  height: 100px !important;
  border: 0;
  outline: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: drop-shadow(3px 3px 2px #0008);
          filter: drop-shadow(3px 3px 2px #0008);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.flickity-prev-next-button:hover {
  width: 100px !important;
  height: 100px !important;
  border: 0;
  outline: 0;
  -webkit-filter: drop-shadow(5px 5px 4px #0008);
          filter: drop-shadow(5px 5px 4px #0008);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

/* icon color */
.flickity-button-icon {
  fill: var(--theme-color--secondary);
  -webkit-transition: all var(--smallmans-duration) linear;
  transition: all var(--smallmans-duration) linear;
}

.flickity-button-icon:hover {
  fill: var(--theme-color--primary);
  -webkit-transition: all var(--smallmans-duration) linear;
  transition: all var(--smallmans-duration) linear;
}

.smallmans.smallmans-announcement-bar {
  background-color: var(--theme-white);
  color: var(--theme-blue);
  width: 100vw;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: var(--font-h3);
}

.smallmans.smallmans-announcement-bar svg {
  width: 32px;
}

.smallmans.smallmans-announcement-bar a {
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  text-shadow: 0px 0px 0px #00000000;
  color: var(--theme-black);
}

.smallmans.smallmans-announcement-bar a:hover {
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  text-shadow: 10px 10px 5px #00000088;
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
}

.smallmans.smallmans-announcement-bar[color='orange'] {
  color: var(--theme-white);
  background-color: var(--theme-orange);
}

.smallmans.smallmans-announcement-bar[color='orange'] a {
  color: var(--theme-white);
}

.smallmans.smallmans-announcement-bar[color='blue'] {
  color: var(--theme-white);
  background-color: var(--theme-blue);
}

.smallmans.smallmans-announcement-bar[color='blue'] a {
  color: var(--theme-white);
}

.smallmans.smallmans-announcement-bar[color='black'] {
  color: var(--theme-white);
  background-color: var(--theme-black);
}

.smallmans.smallmans-announcement-bar[color='black'] a {
  color: var(--theme-white);
}

.smallmans.smallmans-announcement-bar[color='gray'] {
  color: var(--theme-black);
  background-color: var(--theme-gray-dark);
}

.smallmans.smallmans-announcement-bar[color='gray'] a {
  color: var(--theme-white);
}
/*# sourceMappingURL=smallmans.css.map */